/* Estilos botones */

.contenedor-boton{

    width: 100%;
    display: flex;
}

.contenedor-boton__boton{

    margin: 30px auto;
    background: red;
    padding: 30px 8vw;
    border-radius: 20px;
    border: none;
    font-size: 25px;
}

.contenedor-boton__boton:hover{

    cursor: pointer;
    transform: scale(1.3);
    background: url(https://media.tenor.com/41a133JDHAAAAAAC/naruto-shippuden-gif-sage-mode.gif) no-repeat;
    background-size: 100% 100%;
}

/*RESPONSIVE*/

/* Extra small devices (phones, 767px and down) */
@media only screen and (min-width: 0px) and (max-width: 767px) {

    .contenedor-boton {

        margin-top: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .contenedor-boton {

        margin-top: 3rem;
    }
}